#grid {
    max-width: 800px;
}

.row-10 {
    width: calc(100% / 10 * 10);
    height: calc(100% / 10);
}

.row-9 {
    width: calc(100% / 9 * 9);
    height: calc(100% / 9);
}

.row-7 {
    width: calc(100% / 7 * 7);
    height: calc(100% / 7);
}

.cell {
    /* dilsplay */
    display: flex;
    justify-content: center;
    align-items: center;
    /* size */
    width: 80px;
    height: 80px;
    /* aesthetics */
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(21, 21, 21);
}